body {
    display: block;
    margin: 2px;
}



.container{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EEEEEE;

}

.image-container{
    display: flex;
    justify-content: center;

}



.search-container{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.content{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: black;
   
    
    
}

.card{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 12px;
    float: left;
    margin: 1px;
   
    
}


.footer-left{
    background-color: #7EE5DA;
    font-size: 15px;
    width: 37%;
    margin-left: 2.5%;
}
.footer-center{
    background-color: #70CCC2;
    width: 15%;
}
.footer-right{
    background-color: #62B3AA;
    width: 38%;
}


.actions {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 6px 0;
}

.copyright{
    
    text-align: center;
    margin-top: 5%;
    padding: 30px;
    font-size: 12px;
    
}

* p{
    margin: 0;
    padding: 0;
}


